<h2>Contact</h2>
<hr/>
<div class="email">
	<a href="mailto: patrick at psychology . wtf">patrick at psychology . wtf</a> <br/>PGP: D11B08714807C8ECC6D726A70A8BF93F538C4BD6<a href="/psychology_wtf.pub">key</a>
</div>
<div>
	<span class="contact">irc.nixers.net</span> or <span class="contact">irc.iotek.org</span> or <span class="contact">unix.chat</span> <span class="contact colored">#nixers</span>
</div>
<div class="email">
	<span class="contact">Telegram</span>: <a href="tg://resolve?domain=venam">@venam</a>
</div>
<hr/>
