<h2>Contact</h2>
<hr/>
<div class="email">
	<a href="mailto: patrick at iotek . org">patrick at iotek . org</a> PGP: C99E 0E69 008E 88F4 4529  1D87 8595 438B 27D1 0933 <a href="/pubkey.txt">key</a>
</div>
<div class="email">
	<a href="mailto: patrick.g.louis at net . usek.edu.lb">patrick.g.louis at net.usek.edu.lb</a> PGP: 7D46 4DAC A5A3 AD7F 58EE  3425 1547 F98B 2E7E 8F41 <a href="/pubkey2.txt">key</a>
</div>
<div>
	<span class="contact">irc.nixers.net</span> or <span class="contact">irc.iotek.org</span> or <span class="contact">unix.chat</span> <span class="contact colored">#nixers</span>
</div>
<div>
	<span class="contact">Mumble</span>: <span class="contact colored">chat.z3bra.org:64738</span> Every Sunday 7-8pm UTC+3
</div>
<div class="email">
	<span class="contact">Telegram</span>: <a href="tg://resolve?domain=venam">@venam</a>
</div>
<hr/>
