<h2>Profiles &amp; Affiliations</h2>
<hr/>
<div class="email">
	<a href="/old">Old website version</a>
</div>
<div class="email">
	<a href="http://nixers.net/member.php?action=profile&uid=80">Nixers</a> (administrator)
</div>
<div class="email">
	<a href="http://iotek.org">
		IOTEK
	</a>
</div>
<div class="email">
	<a href="http://github.com/venam">
		Github
	</a>
</div>
<div class="email">
	<a href="http://dotshare.it/~venam/">
		Dotshare
	</a>
</div>
<div class="email">
	<a href="http://subtlepatterns.com/?s=venam">
		SubtlePatterns
	</a> (Venam)
</div>
<div class="email">
	<a href="https://www.reddit.com/user/venam_">
		Reddit
	</a>
</div>
<div class="email">
	<a href="http://www.wechall.net/profile/kamel_louis">
		WeChall
	</a>
</div>
<div class="email">
	<a href="http://mena-devs.com">
		MENA Devs Network
	</a>
</div>
<div class="email">
	<a href="http://soundcloud.com/4-3xp/">
		SoundCloud
	</a>
</div>
<div class="email">
	<a href="http://bbs.ninja/crew/impure!ascii.1940/">
		Impure!Ascii
	</a>
</div>

<hr/>
