<h2>Contact</h2>
<hr/>
<div class="email">
	<a href="mailto: patrick at psychology . wtf">patrick at psychology . wtf</a> <br/>PGP: D11B08714807C8ECC6D726A70A8BF93F538C4BD6<a href="/psychology_wtf.pub">key</a>
</div>
<div class="email">
	<a href="mailto: patrick at iotek . org">patrick at iotek . org</a> <br/>PGP: C99E0E69008E88F445291D878595438B27D10933<a href="/pubkey.txt">key</a>
</div>
<div class="email">
	<a href="mailto: patrick.g.louis at net . usek.edu.lb">patrick.g.louis at net.usek.edu.lb</a> <br/>PGP: 7D464DACA5A3AD7F58EE34251547F98B2E7E8F41<a href="/pubkey2.txt">key</a>
</div>
<div>
	<span class="contact">irc.nixers.net</span> or <span class="contact">irc.iotek.org</span> or <span class="contact">unix.chat</span> <span class="contact colored">#nixers</span>
</div>
<div>
	<span class="contact">Mumble</span>: <span class="contact colored">talk.nixers.net:64738</span> <a href=http://nixers.net/showthread.php?tid=1656>Check the podcast schedule</a>
</div>
<div class="email">
	<span class="contact">Telegram</span>: <a href="tg://resolve?domain=venam">@venam</a>
</div>
<hr/>
