<!-- starting listing amazingness -->

{% include recipe_template.html name="Potato Cake" img="1" description="A friend of mine received a book wich contains a hundred potato recipes. She doesn't cook and thus asked me to prepare something from the book. I tried myself with the potato cake. It was unexpectedly delicious." %}

{% include recipe_template.html name="Pancakes" img="2" description="There's not much to say about pancakes. They're fluffy, smooshy, and so good with mapple syrup straight from Canada. There's also a cheese cake in that picture." %}

