<div class="post-content">
	{% for i in (1..104) %}
	<div class="art_center">
		<a href="{{site.baseurl}}/assets/arts/art{{ i }}.jpg">
			<img class="artImage" src="{{site.baseurl}}/assets/arts/small/art{{ i }}.jpg" alt={{i}}  />
		</a>
	</div>
	{% endfor %}

	<a href="{{site.baseurl}}/assets/arts/art_new_animation.gif">
		<img class="artImage" src="{{site.baseurl}}/assets/arts/small/art_new_animation.gif" alt='gif' />
	</a>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'venamsblog';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
