<div class="post-content">
	{% for i in (1..104) %}
	<div class="art_center">
		<a href="{{site.baseurl}}/assets/arts/art{{ i }}.jpg">
			<img class="artImage" src="{{site.baseurl}}/assets/arts/small/art{{ i }}.jpg" alt={{i}}  />
		</a>
	</div>
	{% endfor %}

	<a href="{{site.baseurl}}/assets/arts/art_new_animation.gif">
		<img class="artImage" src="{{site.baseurl}}/assets/arts/small/art_new_animation.gif" alt='gif' />
	</a>

<script async data-isso="/comments/"
              data-isso-css="true"
              data-isso-lang="en"
              data-isso-reply-to-self="false"
              data-isso-require-author="false"
              data-isso-require-email="false"
              data-isso-max-comments-top="10"
              data-isso-max-comments-nested="5"
              data-isso-reveal-on-click="5"
              data-isso-avatar="true"
              data-isso-avatar-bg="#f0f0f0"
              data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
              data-isso-vote="true"
              data-vote-levels=""
              src="//venam.nixers.net/comments/js/embed.min.js"></script>

<section id="isso-thread"></section>

</div>
