<head>
	<!--
	 It's 2015 faggot, everyone should support utf-8
	-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


	<!-- a bit of responsiveness,
	 not in the sense that it'll make you sandwishes on orders but it's still
	 as satisfying
	-->
	<meta name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/food.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<!--
	 Some overriding styles
	 so fashionable you'll feel like a fucking neck-beard when comparing
	 yourself to it
	-->
</head>
