<!--
	I don't get why some weirdos have foot fetish
	So yeah, feet aren't that turn on for me!
	They are still very important, we put our full weight on them all day long
	(minus fat Americans that use those minicar to move around)
-->
<footer class="site-footer">

  <div class="wrapper">

	<hr/>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
<!--
	Thanks for checking me out but I'm not on that side of the fence...
-->
