	<footer>
		<div id="foot_content">
			<p class="text">{{ site.description }}</p>

			<a href="{{ site.url}}{{site.baseurl}}">Blog</a><br/>
			<a href="{{site.baseurl}}/about.html">About</a><br/>
			<a href="{{site.baseurl}}/projects.html">Projects</a><br/>
			<a href="{{site.baseurl}}/others.html">Others</a>
			<ul class="foot_other">
				<li><a href="{{site.baseurl}}/arts.html" >Arts</a></li>
				<li><a href="{{site.baseurl}}/food.html" >Cooking</a></li>
				<li><a href="{{site.baseurl}}/asciiart.html" >Screenshots &amp; Ascii-Art</a></li>
				<li><a href="{{site.baseurl}}/poems.html" >Poems</a></li>
				<li><a href="{{site.baseurl}}/quotes.html" >Quotes</a></li>
				<li><a href="{{site.baseurl}}/Links.html" >Links</a></li>
			</ul>
			<hr/>
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			<hr/>

			<div id="credits">&copy; <a href="mailto: patrick [at] iotek.org">Patrick Louis aka venam.</a></div>
		</div>
	</footer>
