<!--
	The head of the ascii-arts
-->
<div class="wrapper_head">
	<div class="h2">
		<div class="header_line_deco deco_left">
░░░░<br/>
░░░░<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░<br/>
<br/>
░░<br/>
		</div>
			<div id="section_title">
				<span id="section_title_content">
				<img class="ascii_image title_image" src="{{site.baseurl}}/assets/ascii/as0.png" alt=header  />
				</span>
			</div>
		<div class="header_line_deco deco_right">
░░░░<br/>
░░░░<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░<br/>
<br/>
░░<br/>
</div>
	</div>
</div>
