<!--
	The head of the ascii-arts
-->
<div class="wrapper_head">
	<div class="h2">
		<div class="header_line_deco deco_left">
░░░░<br/>
░░░░<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░<br/>
<br/>
░░<br/>
		</div>
			<div id="section_title">
▄▄▄&nbsp;▄▀▀▄▀▀▀▀█▀▀▄▄▄▄&nbsp;▄▄▄▄&nbsp;&nbsp;&nbsp;&nbsp;<br/>
█&nbsp;▄&nbsp;▀&nbsp;█&nbsp;▄▀▀&nbsp;▐&nbsp;█▄&nbsp;&nbsp;▄&nbsp;▀&nbsp;▄&nbsp;█&nbsp;&nbsp;&nbsp;<br/>
█&nbsp;▌&nbsp;&nbsp;█&nbsp;█▄▐▀▄▐&nbsp;█▄▀▄▐▀▄▀▐&nbsp;█&nbsp;&nbsp;&nbsp;<br/>
▓&nbsp;▌&nbsp;█&nbsp;▀▄▄▐&nbsp;&nbsp;▀&nbsp;▀&nbsp;&nbsp;▐▐&nbsp;&nbsp;&nbsp;▐&nbsp;▓&nbsp;&nbsp;&nbsp;<br/>
▒&nbsp;&nbsp;█&nbsp;░░&nbsp;&nbsp;&nbsp;░░░&nbsp;&nbsp;&nbsp;░&nbsp;&nbsp;&nbsp;░░▐&nbsp;▒&nbsp;&nbsp;&nbsp;<br/>
			</div>
		<div class='left'>
ScreenShots &amp;<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ascii-Arts
		</div>
		<div class="header_line_deco deco_right">
░░░░<br/>
░░░░<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░<br/>
<br/>
░░<br/>
</div>
	</div>
</div>
