
<!--
	The head of the arts
-->
<div class="wrapper">
	<!--<h2> <a href="{{ site.url }}{{site.baseurl}}" id="blog_title">Back To Blog</a></h2>-->
	<h2> <a href="{{ site.url }}{{site.baseurl}}" id="blog_title">Venam's Art Page</a></h2>
</div>

<div class="wrapper">
	<div class="post">
		<header class="post-header">
			<hr/>
			<h1>Artistic Works</h1>
			Nothing fancy. I threw a lot of my old pieces.<br/>
			On this page live the images of some remnants plus brand new inventions.
			<hr/>
		</header>
	</div>
</div>
