		<header>
			<nav>
				<ul>
					<li><a href="{{ site.url}}{{site.baseurl}}">Blog</a></li>
					<li><a href="{{site.baseurl}}/about.html">About</a></li>
					<li><a href="{{site.baseurl}}/projects.html">Projects</a></li>
					<li><a href="{{site.baseurl}}/others.html">Others</li>
				</ul>
			</nav>
			<div id="logo_container">
				<div id="logo_content">
					<a href="{{ site.url }}{{site.baseurl}}" id="logo">
						Venam's <span id="logo_white">Blog</span>
					</a>
					<div id="subtitle">
						// Patrick Louis
					</div>
				</div>
			</div>
		</header>
