<header>
	<h1 class="title">Others</h1>
</header>

<div class="about_section">
	<a class="clickable colored big" href="{{site.baseurl}}/arts.html">Arts</a>
</div>
<div class="about_section">
	<a class="big colored clickable" href="{{site.baseurl}}/food.html">Cooking</a>
</div>
<div class="about_section">
	<span class="clickable colored big" onClick="showOther('poems')" href="">Poems</span>
	<div id="other_poems"   class="hidden">
		<ul>
			<li>
				<a href="http://venam.nixers.net/poems/la_mort.txt" target="_blank">la mort</a>
			</li>
			<li>
				<a href="http://venam.nixers.net/poems/summer.txt" target="_blank">summer</a>
			</li>
			<li>
				<a href="http://venam.nixers.net/poems/mystery_of_moonfog.txt" target="_blank">mystery of moonfog</a>
			</li>
			<li>
				<a href="http://venam.nixers.net/poems/lullabie.txt" target="_blank">lullabie</a>
			</li>
			<li>
				<a href="http://venam.nixers.net/poems/destinee_ou_coincidence.txt" target="_blank">destinee ou coincidence</a>
			</li>
			<li>
				<a href="http://venam.nixers.net/poems/christ.txt" target="_blank">Christy</a>
			</li>

			<li>
				<a href="http://venam.nixers.net/poems/a_day_in_the_mind_of_the_new_tecnology.txt" target="_blank">a day in the mind of the new tecnology</a>
			</li>
		</ul>
	</div>
</div>
<div class="about_section">
	<a class="clickable colored big" href="{{site.baseurl}}/quotes.html" >Quotes</a>
</div>
<div class="about_section">
	<a class="clickable colored big" href="{{site.baseurl}}/asciiart.html" >Screenshots &amp; Ascii-Arts</a>
</div>


<script>
function showOther (elem) {
	console.log(elem);
	var what_to_show_hide = document.getElementById("other_"+elem);
	console.log(what_to_show_hide);
	console.log(what_to_show_hide.style.display);
	if (what_to_show_hide.style.display != "inline") {
		what_to_show_hide.style.display = "inline";
	}
	else {
		what_to_show_hide.style.display = "none";
	}
}
</script>
