<h2>Presentations</h2>
<hr/>
<div class="email">
	<a href="http://psychology.wtf">Dynamic Evolutionary Psychology</a>
	Simplistic and abbreviated researches on evolutionary psychology correlations
</div>
<div class="email">
	<a href="http://podcast.nixers.net/what">Nixers Podcast</a>
	A podcast about Unix
</div>
<div class="email">
	<a href="http://nixers.net/newsletter">Nixers Newsletter</a>
	The nixers.net newsletter
</div>
<div class="email">
	<a href="http://venam.nixers.net/presentation/">Internship</a>
	A Summary of what I worked on for my Internship at <a href="http://invigo.com.lb">Invigo</a>
</div>
<div class="email">
	<a class="post-link" href="http://venam.nixers.net/beirut_beer/">Marketing Project</a>
	Slides for a marketing project made about Beirut Beer
</div>

<hr/>
