<h2>Hosted Projects</h2>
<hr/>
<div class="email">
	<a href="http://venam.nixers.net/gravity_guy">Gravity Guy</a>
	A stupid game where you control gravity to fight aliens
</div>
<div class="email">
	<a href="http://venam.nixers.net/potato/">Potato Rage</a>
	A stupid game where you but potatoes and hit cocroaches
</div>
<div class="email">
	<a href="http://venam.nixers.net/unicoder.apk">Unicoder</a>
	A stupid Android app where you convert text to special unicode forms
</div>
<div class="email">
	<a href="http://venam.nixers.net/emoji.apk">Emoji</a>
	A stupid Android app where you copy japanese emoji
</div>
<hr/>
