<h2>Presentations</h2>
<hr/>
<div class="email">
	<a href="http://venam.nixers.net/presentation/">Internship</a>
	A Summary of what I worked on for my Internship at <a href="http://invigo.com.lb">Invigo</a>
</div>
<div class="email">
	<a class="post-link" href="http://venam.nixers.net/beirut_beer/">Marketing Project</a>
	Slides for a marketing project made about Beirut Beer
</div>
<div class="email">
	<a class="post-link" href="https://www.youtube.com/watch?v=QTXUc7nECq0&list=PLfY4XZjn9M2Hp9RKfk_YdCysZ1ZClHK7X&index=4">What Computing and Programming Represents</a>
	A presentation given at the MENA devs meetup
</div>

<hr/>
