<!DOCTYPE html>
<html>
<!-- 
	This is my artistic page
	I'll try to make it look good
-->

<!--
	Here comes the head
	prepare yourself
-->
  {% include art_head.html %}
<!--
	Nah, it's not the best head I've ever received.
	!! Nasty Ψ(｀▽´)Ψ !!
-->

<!--
	Here comes the sexy body
-->
  <body unresolved>

	{% include header_arts.html %}

	<!--
	 For the plant of the subject (not meat 'cause I'm vegetarian)
	-->
	<div class="page-content">
		<div class="wrapper">
			<div class="content" id="blog-content">
				{% include art_back_to.html %}
				{% include all_arts.html %}
				{% include comments.html %}
			</div>
		</div>
	</div>
  </body>

</html>
