<!DOCTYPE html>
<html>
<!-- 
	This is my legion of robots
-->

<!--
	Here comes the head
	prepare yourself
-->
  {% include asciiart_head.html %}
<!--
	Nah, it's not the best head I've ever received.
	!! Nasty Ψ(｀▽´)Ψ !!
-->

<!--
	Here comes the sexy body
-->
  <body>

	{% include header_asciiart.html %}

	<!--
	 For the plant of the subject (not meat 'cause I'm vegetarian)
	-->
	<div class="page-content">
		<div class="wrapper">
			<div class="content" id="blog-content">

				<div id="back_to_top">
					<div class="h2">
					<div class="bottom_deco deco_left">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░&nbsp;<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░&nbsp;&nbsp;░░░&nbsp;<br/>
<br/>
░░░&nbsp;&nbsp;░░░&nbsp;&nbsp;░░░<br/>
					</div>

					<a href="{{ site.url }}{{site.baseurl}}" >Back To Blog</a>

					<div class="bottom_deco deco_right">
░░░<br/>
<br/>
&nbsp;&nbsp;░░░&nbsp;&nbsp;░░░<br/>
<br/>
&nbsp;&nbsp;&nbsp;░░░&nbsp;&nbsp;░░░&nbsp;&nbsp;░░░<br/>
					</div>

					</div>
				</div>

				<div class="all_ascii">
					{% include all_asciiart.html %}
				</div>
			</div>
		</div>
	</div>
  </body>

</html>
