<!-- default layout -->
<!DOCTYPE html>
<html>

	<!-- _include/head.html -->
	{% include head.html %}
	<!-- end _include/head.html -->

	<body>
	<!-- _include/header.html -->
    {% include header.html %}
	<!-- end _include/header.html -->

	<div class="container">
		<div class="content">
			<!-- start content -->
			{{ content }}
			<!-- end content -->
		</div>
	</div>

	<!-- _include/footer.html -->
    {% include footer.html %}
	<!-- end _include/footer.html -->
  </body>
</html>
<!-- end default layout -->
