<!DOCTYPE html>
<html>
<!-- 
	Food is good
-->

<!--
	Here comes the head
	prepare yourself
-->
  {% include food_head.html %}
<!--
	Nah, it's not the best head I've ever received.
	!! Nasty Ψ(｀▽´)Ψ !!
-->

<!--
	Here comes the sexy body
-->
  <body unresolved>
	{% include header_food.html %}
	<!--
	 For the plant of the subject (not meat 'cause I'm vegetarian)
	-->
	<div class="page-content">
		<div class="wrapper">
			<div class="post">
				<header>
					<div class="post-header">
						This section regroups images of recipes I cooked.<br/>
						For more information please fill a comment below.
					</div>
				</header>
				<article class="post-content">
					{% include all_foods.html %}
					{% include comments.html %}
				</article>
			</div>
		</div>
	</div>
	{% include footer.html %}
  </body>
</html>
