---
layout: default
---
<div class="post">

  <header>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.audio %}
    <p class="post-meta" style="margin:0px;">
    (<a
        onclick="document.getElementById('audio_hidden').style.display='block';"
        href="#">PLAY 4-3XP
    </a>)
    </p>
    <div style="text-align:center;width: 300px;margin: 0 auto;">
		<iframe id="audio_hidden" style="display:none;" height="300" scrolling="no"
			frameborder="no"
			src="https://w.soundcloud.com/player/?url=https%3A//{{ page.audio }}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
		</iframe>
    </div>
    {% endif %}

    {% if page.podcast_mp3 %}
    <p class="post-meta" style="margin:0px;">
    (<a
        onclick="document.getElementById('audio_hidden2').style.display='block';"
        href="#">PLAY Nixers Podcast
    </a>)
    </p>

    <div style="text-align:center;width: 300px;margin: 0 auto;">
        <audio controls id='audio_hidden2' style='display:none;' height='300'>
            <source src="{{page.podcast_ogg}}" type="audio/ogg">
            <source src="{{page.podcast_mp3}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> 
    </div>
    {% endif %}

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

  <article>
    {{ content }}
	{% include comments.html %}
  </article>
</div>
