<!DOCTYPE html>
<html>
<!-- 
	This is my screenshot page
	Say cheese!
-->

<!--
	Here comes the head
	prepare yourself
-->
  {% include scrot_head.html %}
<!--
	Nah, it's not the best head I've ever received.
	!! Nasty Ψ(｀▽´)Ψ !!
-->

<!--
	Here comes the sexy body
-->
  <body>

	  {% include header_scrot.html %}


	<!--
	 For the plant of the subject (not meat 'cause I'm vegetarian)
	-->
	<div class="page-content">
		<div class="wrapper">
			<div class="content" id="blog-content">

			</div>
		</div>
	</div>
  </body>

</html>
